@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: #4a5568;
  transition: background-color 0.1s, color 0.1s;
}

.nav-link:hover {
  background-color: #ebf8ff;
  color: #2b6cb0;
}

.nav-link-active {
  background-color: #c3c1f9;
  color: #2b6cb0;
}

.sticky-sidebar {
  position: sticky;
  top: 0;
}
